@page "/deletestudent"
@using BlazorApp.Model
@using Microsoft.EntityFrameworkCore
@inject BlazorApp.Data.MyDBContext DB

<h3>DeleteStudent</h3>
<hr />

<div>
    @if (student is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Név</dt>
            <dd class="col-sm-10">@student.GetFullname()</dd>
        </dl>
    }
</div>


@code {
    Student? student;

    [SupplyParameterFromQuery]
    public long Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        student = await DB.Students.FirstOrDefaultAsync(x =>x.StudentId == Id);
    }
}
